html {
    font-size: 1px;
}

body {
    background-color: #FFEAE6;
    color: #2E2E2E;
    font-family: Arial;
    font-size: 20rem;
    margin: 0 0 0 0;
    display: center;
    gap: 2rem;
}

header.page-header {
    background-color: #860b37;
    display: center;
    gap: 2rem;
    height: auto;

    text-align: center;
    padding-top: 60rem;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-row > .header-column1 {
    text-align: center;
    max-width: 600rem;
}

.header-row > .columnspace {
    margin-left: 50rem;
}  


.Fussbild1 {
    width: 450rem;
    height: 450rem;
    border-radius: 10rem;
    margin-bottom: 20rem;
}

.logo {
    width: 550rem;
    aspect-ratio: 25/6;
    margin-bottom: 20rem;
}

h1 {
    color: #fefcfe;
    font-size: 30rem;
    font-weight: lighter;
    text-align: center; 
    margin-top: -10rem;
    margin-bottom: 30rem;
}

h1 + p {
    color: #fefcfe;
    font-size: 22rem;
    font-family: 'Antiqua';
    text-align: center; 
    margin-top: 20rem;
}

.taskbar {
    background-color: #b71c46;
    text-align: center;
}

.taskbar a {
    color: #fefcfe;
    text-decoration: none;
    font-family: 'Antiqua';
    font-size: 30rem;
    padding: 15rem 30rem 15rem 30rem;
    display: inline-block;
}

.taskbar a:hover {
    background-color: #860b37;
}

.contact-card {
    background-color: #FFEAE6;
    max-width: 800rem;
    margin: 40rem auto;
    padding: 30rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.19);
}

p {
    text-align: center;
    font-size: 22rem;
    color: #2E2E2E;
    margin: 20rem 40rem 20rem 40rem;
    line-height: 1.6;
}